<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>ÜB-Checker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js" integrity="sha512-7oYXeK0OxTFxndh0erL8FsjGvrl2VMDor6fVqzlLGfwOQQqTbYsGPv4ZZ15QHfSk80doyaM0ZJdvkyDcVO7KFA==" crossorigin="anonymous"></script>
    


    <script src="https://kit.fontawesome.com/b6b808bbca.js" crossorigin="anonymous"></script>
    
    <script src="./hlp/csvtojson.min.js"></script>
    <script src="./hlp/luxon.min.js"></script>
    <script src="./hlp/underscore-umd-min.js"></script>
    <script src="./app.js"></script>        
  </head>

  <body ng-app="UeB" ng-controller="UeBController as ueBList">
    <div class="container-fluid">
        <div class="row">
          <div class="page-header col-md-10">
            <i class="fas fa-file-code" style="color:#FF0000; font-size: 4em;""></i><b>&nbsp;</b>
            <i class="fas fa-search" style="color:#767171; font-size: 4em;"></i><b>&nbsp;</b>
            <b style="color:#767171; font-size: 4em;">&nbsp;ÜB-</b>
            <b style="color:#FF0000; font-size: 4em;"">Checker</b>
          </div>
          
          
          <div class="page-header col-md-2">
            <img src="./img/Db-netze.png" class="img-fluid" alt="DB Netz AG Logo">         
          </div>

          <div class="col-md-9 ng-hide animate-show-hide" ng-hide="ueBList.loadComplete">
            <h3>Prüfautomat für die Vollständigkeit des ÜB</h3>
            <div class="form-group">              
              <div class="col-md-8">  
                <table class="table table-borderless">
                  <tr>
                    <td><b>xml-Datei ÜB auswählen</b></td>
                    <td><input type="file" id="ueb" class="form-control form-control" ng-model="ueBList.Filename" accept=".xml" placeholder="Liste auswählen"></td>
                  </tr>
                  <tr>
                    <td><b>xml-Datei ZvF auswählen</b></td>
                    <td><input type="file" id="zvf" class="form-control form-control" ng-model="ueBList.Filename" accept=".xml" placeholder="Liste auswählen"></td>
                  </tr>
                </table>                 
                <p><b>Achtung</b> Es werden keinerlei Daten ins Netz hochgeladen. Der Verarbeitung der Daten und Erzeugung der Tabellen erfolgt ausschließlich auf dem lokalen Rechner.</p>
  
                <button type="button" class="btn btn-outline-secondary" ng-click="ueBList.assignTrains();">
                    <i class="far fa-file-alt"></i>                    
                    Daten einlesen und verarbeiten
                </button>
              </div>         
            </div>
          </div>

          <div class="col-md-6 ng-hide animate-show-hide" ng-show="ueBList.loadComplete">
            <h3>Prüfergebnis Vollständigkeit ÜB</h3>
             
            <div class="ng-hide animate-show-hide" ng-show="ueBList.SuccessZuege === ueBList.totalZvFZuege">
              <h4><span class="badge bg-success">Alle {{ueBList.SuccessZuege}} von {{ueBList.totalZvFZuege}} Zügen sind im ÜB vorhanden</span></h4> 
            </div>
            <div class="ng-hide animate-show-hide" ng-show="ueBList.SuccessZuege < ueBList.totalZvFZuege">
              <h4><span class="badge bg-danger">Nur {{ueBList.SuccessZuege}} von {{ueBList.totalZvFZuege}} Zügen sind im ÜB vorhanden</span></h4> 
              <h5>Fehlende Züge im Übergabeblatt</h5>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="uml2" ng-model="ueBList.filterDelay">
                <label class="form-check-label" for="uml2">
                  Zeilen mit Verspätungen ausblenden
                </label>
              </div>
              <table class="table table-hover">
                <thead>
                  <tr class="table-warning">
                    <th>Verkehrstag</th>
                    <th>Produkt</th>
                    <th>Zugnummer</th>
                    <th>Regelung</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="tr in ueBList.ErrorList | orderBy:['VTS.VNumber', 'ZNr']" class="animate-show-hide ng-show" ng-hide="ueBList.filterDelay && tr.Regelung === 'Verspaetung'">
                    <td>{{tr.VTS.VText}}</td>
                    <td>{{tr.Pr}}</td>
                    <td>{{tr.ZNr}}</td>
                    <td>{{tr.Regelung}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </div>

          

          
                    

        </div>

        <div class="col-md-12">
            <p></p>
            <p><i class="fas fa-code"></i> <b>DB Netz AG</b> | Fahrplan und Kapazitätsmanagement | Region Mitte | I.NB-MI-F | 2022</p>
          </div>

    </div>

  </body>

  </html>